# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/OrigGrailQA/cache/
/OrigGrailQA/data/
/OrigGrailQA/saved_models/
/OrigGrailQA/entity_linker/data/


/GrailQA/tmp*
/GrailQA/feature_cache/*
/GrailQA/entity_linker/BERT_NER/trained_ner_model*
#/GrailQA/entity_linker/data/*
# !/GrailQA/misc/relation_freq.json
/GrailQA/misc/grail_*
!/GrailQA/outputs/grailqa_v1.0_demo*
/GrailQA/models
/GrailQA/ontology
/GrailQA/executor
/GrailQA/results
/GrailQA/components
!/GrailQA/feature_cache/.gitkeep
/GrailQA/checkpoints/grail_*
/GrailQA/run_generator.py
/GrailQA/run_ranker.py


#!/WebQSP/misc/webqsp_test_elq-5_mid.json
#!/WebQSP/misc/webqsp_train_elq-5_mid.json
#/WebQSP/misc/*.json
#/WebQSP/misc/*.bin
/WebQSP/outputs
# !/WebQSP/outputs/
/WebQSP/results
/WebQSP/feature_cache/*
!/WebQSP/feature_cache/.gitkeep
/WebQSP/models
/WebQSP/ontology
/WebQSP/executor
/WebQSP/components
/WebQSP/checkpoints/webqsp_*
/WebQSP/run_generator.py
/WebQSP/run_ranker.py

*.txt
!/requirements.txt
!/LICENSE.txt

.idea